.footer-top-border{
    border: 1px solid var(--bg-color-1);;
}

.footer-logo img {
    width: 12%;
    margin-top: 10%;
}

.left-content {
    float: left;
    margin-top: 40px;
    line-height: 40px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.center-content {
    margin-left: 30%;
    margin-top: 3%;
    color: #fff;
    list-style: none;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
}

.right-content {
    float: right;
    margin-top: -13%;
    color: #fff;
    list-style: none;
    display: flex;
}

.right-content h1 {
    font-family: 'Open Sans', sans-serif;
}

.right-content .icon-area{
    margin-top: 20%;
    margin-left: -40%;
    display: flex;
}


.right-content .icon-area a i {
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
}

/*botto footer*/

.bottom-footer{
    background: var(--bg-color-1);
}

.bottom-footer .copyright{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bottom-footer .copyright a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
} 