

/*collabroate Section*/

.collabroate-header{
    text-align: center;
    margin-top: 20%;
}

.collabroate-header h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
}





/* .collabroate-all-card {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    
} */



.card1:hover, .card2:hover, .card3:hover, .card4:hover, 
.card5:hover, .card6:hover, .card7:hover, .card8:hover,
.card9:hover, .card10:hover, .card11:hover, .card12:hover,
.card13:hover, .card14:hover, .card15:hover, .card16:hover,
.card17:hover, .card18:hover{
   background: #fff;
   transform: scale(0.9);
}
