.process-header{
    text-align: center;
    margin-top: 20%;
}

.process-header span{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.process-header{
    font-size: 60px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.process-header-title{
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-left: 15%;
    font-size: 18px;
}

.process .process-card{
    margin-top: 15%;
    display: flex;
}

.research, .designing,
.building, .deliver {
    color: #fff;
    text-align: center;
    padding: 40px;
    width: 20%;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.research h1 , .designing h1,
.building h1, .deliver h1{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.research span, .designing span,
.building span, .deliver span{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
    border: 1px solid var(--bg-color-1);;
    transition: all 0.5s;
}

.research:hover .card-hover, .designing:hover .card-hover,
.building:hover .card-hover, .deliver:hover .card-hover{
    color:#00464c;
    background: #fff;
}

.research:hover, .designing:hover,
.building:hover, .deliver:hover{
    background: var(--bg-color-1);;
    color: #fff;
}

.research p, .designing p,
.building p, .deliver p{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 15px;
}

.research, .designing, 
.building {
    margin-right: 25px;
}

.research:hover,.designing:hover,.building:hover,.deliver:hover{
    background-color: #00464c;
    border-radius: 15px;
    box-shadow: 1px #00464c;
}




@include media-breakpoint-up(sm) {  
    .process .process-card{
        display: block;
        
    }
    .research, .designing,
.building, .deliver{
    width:50%;
}



}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) { 

 }
@include media-breakpoint-up(xl) {

 }
@include media-breakpoint-up(xxl) { 

 }




.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}