
/*Roboto 300*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Open Sans 700*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/*Lato 400*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*Poppins 800*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
/*Anek Bangla 400*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&display=swap');



*{
    margin: 0;
    padding: 0;
}

:root{
    --menu-hover-color: #ff001e;
    --bg-color: #222A33;
    --bg-color-01:#0b1e33;
    --bg-color-1: #00464c40;
    --top-border: #093f4471;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding: auto;
    overflow: hidden;
}


body{
    background: linear-gradient(to left, #002e1c, #002f33);
}

/*products section*/

.products{
    margin-bottom: 10%;
}

.products-content-header h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 4%;
}

.products-content-header p{
    color: rgb(212, 212, 212);
    font-family: 'Lato', sans-serif;
    max-width: 500px;
    margin-top: 1%;
    line-height: 25px;
}

.hr-top-border{
    border: 1px solid var(--top-border);
}

.products-card-section .products-card-1 img{
    width: 90%; 
    margin-top: 7%;
}

.products-card-section{
    display: flex;
    flex-wrap: wrap;
}

.products-card-section .products-card-1{
    width: 45%;
    margin-left: 5%;
    height: 62vh;
    background:var(--bg-color-1);
    color: #fff;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}

.products-card-1:hover{
    transform: translateY(-10px)
}

.products-card-section .products-card-1 p {
    text-align: justify;
    font-size: 19px;
    width: 500px;
    margin-left: 7%;
    margin-top: 10%;
    line-height: 30px;
    font-family: 'Anek Bangla', sans-serif;
}


.product-name {
    float: left;
    margin-left: 7%;
    margin-top: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.product-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


/*footer*/

.footer-top-border{
    border: 1px solid var(--bg-color-1);
}

.footer-logo img {
    width: 12%;
    margin-top: 10%;
}

.left-content {
    float: left;
    margin-top: 40px;
    line-height: 40px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.center-content {
    margin-left: 60%;
    margin-top: 3%;
    color: #fff;
    list-style: none;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
}

.right-content {
    float: right;
    margin-top: -13%;
    color: #fff;
    list-style: none;
    display: flex;
}

.right-content h1 {
    font-family: 'Open Sans', sans-serif;
}

.right-content .icon-area{
    margin-top: 20%;
    margin-left: -40%;
    display: flex;
}


.right-content .icon-area a i {
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
}

/*bottom footer*/

.bottom-footer{
    background: var(--bg-color-1);
}

.bottom-footer .copyright{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bottom-footer .copyright a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}