

.banner-head{
    margin-top: 14%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: italic;
}
.banner-head p{
    color: #fff;
    font-size: 17px;
    width: 600px;
    padding-top: 30px;
    line-height: 25px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}
.banner-span{
    color: #df001a;
    font-weight: 600;
    font-style: italic;
}
.banner-img{
    width: 100%;
    height: 100%;
    margin-top: 14%;
}
.banner-button{
    margin-top: 60px;
    display: flex;

}
.contact-with-us-btn1{
    margin-left: 5%;
}
 .hire-us-btn1 a {
    color: #fff;
    background: #00464c;
    padding: 17px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

 .contact-with-us-btn1 a {
    color: #fff;
    background: transparent;
    border: 1px solid #00464c;
    padding: 17px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
}

 .contact-with-us-btn1 a:hover{
    background: #00464c;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
   .banner-head{
    width: 50%;
   }
    .banner-head p{
        width: 50%;
    }
    banner-img{
        width: 50%;
    }
    .banner-button{
        width: 50%;
    }
    .hire-us-btn1 a{
        width: 30%;
       padding: 10px;
    }
    
    .contact-with-us-btn1 a{
        width: 35%;
        height: 35%;
    }
    
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .banner-head{
        width: 65%;
       }
        .banner-head p{
            width: 50%;
        }
        banner-img{
            width: 50%;
        }
        .banner-button{
            width: 50%;
        }
        .hire-us-btn1 a{
            width: 50%;
           padding: 15px;
        }
        
        .contact-with-us-btn1 a{
            width: 50%;
            padding: 15px;
        }

 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */